<div class="container">
    <div class=" row">
        <mat-card>
            <h1>{{data.obj.title}}</h1>
            <mat-card-content>
                <p>
                    {{data.obj.description}}
                </p>
                <p>
                    Past efforts to strengthen enforcement institutions in EECCA often involved continuous
                    organisational reform without improving decision-making processes, management approaches and skills
                    of individuals. This has led to institutional instabilities, distortion of priorities and loss of
                    (or shortage of) professional staff.
                    Addressing the challenges of effective and efficient implementation of environmental regulation
                    requires enforcement officers to introduce well-defined compliance assurance strategies and tools,
                    and apply them consistently and continuously. They also need to apply internal management systems
                    which are systematic, well planned and fit the existing enforcement and compliance capacities.
                    Inspectors have to acquire solid training on procedures which are supported by solid scientific,
                    economic and legal understanding.
                </p>
            </mat-card-content>
            <mat-card-footer style="float: right;">
                <button mat-raised-button color="primary" style="margin-right: 1rem; margin-bottom: 1rem;">Ok</button>
                <button mat-raised-button color="warn" mat-dialog-close style="margin-right: 2rem;">Cancle</button>
            </mat-card-footer>
        </mat-card>
    </div>
</div>