.div-styles{
    margin-top: 0;
    background-image: linear-gradient(#67B26F, #4ca2cd);
}
.formMargin{
    margin-top: 1rem;
}
.form-element {
    width: 100%;
  }
  .example-card {
    max-width: 400px;
  }
  .main-div-login{
      margin-left: 20rem;
      margin-top: 2rem;
  }